.App {
  text-align: center;
  width: 100%;
  position: relative;
  font-size: large;
  overflow-x: hidden;
  height: 95vh;
}
.meals_container{
  display: flex;
    justify-content: center;
}
.Navbar {
  display: flex;
  width: 98.7%;
  height: 38px;
  font-size: 30px;
  font-weight: 550;
  position: fixed;
  background-color: rgb(77, 63, 77);
  justify-content: center;
  color: blanchedalmond;

}
.Navbar:hover{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.Navbar span {
  color: rgb(84, 206, 222);
}
.Navbar span:hover{
  color: rgb(207, 13, 13);
}
.appcounter {
  display: flex;
  color: rgb(4, 8, 26);
  justify-content: space-evenly;
  width: 12%;
  font-size: 25px;
  margin-top: 40px;
  position: fixed;
}


.appcounter span {
  color: rgb(86, 7, 73);

}

.btn-delete-all {


  position: fixed;
  top: 50px;
  right: 30px;
}

.btn--btn-delete-all {
  margin-top: 0 px;
  background-color: rgb(105, 43, 43);
  color: rgb(179, 171, 171);
  text-align: center;
  right: 30px;
  font-size: 20px;
  outline: none;
  border-radius: 5px;
  border: 1 px solid rgb(85, 82, 82);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn--btn-delete-all:hover{
  background-color: rgb(55, 8, 3);
}


@media only screen and (max-width: 765px) {
  .meal_item_wrapper_list {
    width: fit-content;
    gap: 1rem;
  }

  .control_inputs {
    margin: 10vh;
    margin-top: 11vh;
  }
  .appcounter {
    margin-left: 19px;
}
.btn-delete-all {
  
  right: 10px;
  
}
}


.paginate{
  display:flex;
  
  list-style-type:none;
  justify-content:center
}
.pagination-items a{
  
  color: black;
  float: left;
  padding: 6px 10px;
  text-decoration: none;
}
.pagination-items a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination-items a:hover:not(.active) {background-color: #ddd;}


.appcounter-2 {
  display: flex;
  color: rgb(4, 8, 26);
  justify-content: space-evenly;
  font-size: 25px;
  margin-top: 40px;
  position: fixed;
 margin-left: 12px;
  
}
.alert {
 
  margin-left: 10px;
  color: rgb(34, 20, 20);
  font-size: 14px;
  cursor: pointer;
  opacity: .5;  
  margin-top: 8px;


}



/* .control_inputs {
  margin: 14vh;
} */

/* .control_inputs input {
  display: inline-flex;
  /* display: "flex"; */
  /* flex-Direction: "column";
  margin-left: 415px;
  justify-content: space-around;
  display: flex;
  width: 28%;
  height: 4vh;
  margin-top: 1%;
  padding-top: 0vh;
  font-size: 15px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;} */ 
/* .control_inputs input:hover{
  background-color: rgb(222, 229, 229);
} */
/* .control_inputs button { */
  /* margin-left: 25px; */


  /* color: rgb(3, 0, 16);
  background-color: rgb(43, 141, 43);
  margin-top: 2%;
  font-size: large;
  outline: none;
  border-radius: 5px;
  border: 1 px solid rgb(77, 21, 21); */
 
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}
.control_inputs button:hover{
  background-color: rgb(94, 173, 94);
} */

